<div class="container text-center">   
        <div class="row align-items-start">
            @{
                foreach(Color item in @ViewBag.ListaColores)
                {
                <div class="col">
                
                    <div class="card Carta">
                        <img src="@item.FotoColor" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">@item.NombreColor</div>
                        <div class="col">
                            <a href='@Url.Action("Productos", new {Producto=@Producto.IdColor})'>
                                Ver Productos 
                            </a>
                           
                        </div>
                        </div>
                    </div>
                    </div>
                }
                <a class="btn btn-lg, boton" href='@Url.Action("AgregarColor","Home", new{IdTela=@ViewBag.Color.IdColor})' role="button">Agregar Color</a>
            }
        </div>
</div>